@import "global-styles/variables_and_mixins";

.addComment {
    display: flex;
    align-items: center;
    .input {
        width: 100%;
    }
    button {
        font-size: 1.3em;
        &:disabled {
            color: $grey;
        }
    }
}
