@import "global-styles/variables_and_mixins.module.scss";

.addImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
        border: none;
    }

    .addButton {
        font-size: 1.5em;
        font-weight: 700;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.2s ease-out;
        &.active {
            max-height: 200px;
            opacity: 1;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 200px;
            margin-left: 10px;
            .confirm {
                color: $green;
                font-size: 26px;
            }
            .cancel {
                color: $red;
                font-size: 28px;
            }
        }
    }
}
