@import "global-styles/variables_and_mixins.module.scss";

.button {
    font-weight: 700;
    font-size: 16px;
    color: $darkGrey;
    border: none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include resetTapHighlight;
    .arrow {
        margin-left: 5px;
    }
}
@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover {
            color: $lightOrange;
        }
    }
}
