@import "global-styles/variables_and_mixins";

.homepage {
    .homepageHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        .title {
            font-size: 1.4em;
            font-weight: 700;
        }
    }
    .columns {
        height: calc(100vh - 50px);
    }
}

@media only screen and (max-width: 800px) {
    .homepage {
        .homepageHeader {
            justify-content: space-between;
            .title {
                font-size: 1.1em;
            }
            .arrowButton {
                font-size: 1.3em;
                padding: 5px 10px;
                &:enabled:active {
                    color: $orange;
                }
            }
        }
        .columns {
            max-height: calc(100vh - 95px);
            .column {
                max-height: calc(100vh - 95px);
            }
        }
    }
}
