@import 'global-styles/variables_and_mixins.module';

.wrapper {
  .nameInput {
    max-width: 400px;
    border: none;
    font-size: 18px;
    margin-left: 3px;
    border-bottom: 1px solid $midLightGrey;
  }

  .checkboxes {
    margin: 5px 0;
  }

  .deleteButton {
    margin: 5px 0;

    &:hover {
      background: $red;
      color: #000;
    }
  }
}
