@import "global-styles/variables_and_mixins";

.mobileNavBar {
    background: $lightGrey;
    display: flex;
    justify-content: space-between;
    height: 38px;
    &.right {
        justify-content: flex-end;
    }
    ul {
        display: flex;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            button:hover {
                color: $darkGrey;
            }
        }
    }
}
