@import 'global-styles/variables_and_mixins.module';

.searchInput {
  position: relative;
  border: none;
  box-shadow: 0 0 6px $midLightGrey;
  min-width: 220px;

  input {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  .clearButton {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 1.3em;

    &.disabled {
      opacity: 0.3;
    }
  }
}
