@import "global-styles/variables_and_mixins";

.newCatalogueModal {
    display: flex;
    justify-content: center;
    align-items: center;
    .catalogue {
        width: 90vw;
        height: 90vh;
        background: #fff;
        padding: 40px 5px;
        box-sizing: border-box;
        @include scroll;
        .buttons {
            display: flex;
            justify-content: center;
            button {
                margin: 15px 10px;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .newCatalogueModal {
        .catalogue {
            width: 100vw;
            height: 100vh;
            padding: 10px;
        }
    }
}