@import "global-styles/variables_and_mixins.module.scss";

.catalogueCard {
    border-bottom: 1px solid $lightGrey;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        line-height: 1.1em;
        text-align: center;
        padding: 5px;
        min-height: 35px;
    }
    .image {
        min-height: 100px;
        img {
            transition: transform 0.3s ease-out;
        }
    }
    .meta {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .user {
            p {
                font-weight: 700;
                margin-left: 5px;
            }
        }
        .date {
            font-size: 0.8em;
            color: $midLightGrey;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .catalogueCard {
        .header,
        .image {
            &:hover {
                color: $lightOrange;
                cursor: pointer;
            }
        }
        .image img {
            &:hover {
                transform: scale3d(1.1, 1.1, 1.1);
            }
        }
    }
}
