@import "global-styles/variables_and_mixins";

.items {
    margin: 0 auto 30px auto;
    max-width: 95%;
    .addItemButton {
        margin: 10px 10px 0 auto;
        font-size: 20px;
        font-weight: 700;
    }
    .noContent {
        margin: 30px auto 0 auto;
        text-align: center;
        .anchor {
            font-weight: 700;
            &:hover {
                color: $lightOrange;
                cursor: pointer;
            }
        }
    }
    .noItemsFound {
        margin: 30px auto 0 auto;
        text-align: center;
        font-size: 1.5em;
        font-weight: 700;
    }
    .seeMoreButton {
        margin: 30px auto;
    }
}

.loader {
    margin: 0 auto;
}

@media only screen and (max-width: 640px) {
    .items {
        &.showingAll {
            margin: 0 auto 90px auto;
        }
    }
}