.catalogue {
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    .mainContent {
        flex-grow: 1;
        max-width: 100%;
    }
    .loader {
        margin: 0 auto;
    }
}