.catalogue {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    .wrapper {
        display: flex;
        flex-grow: 1;
        .filtersBar {
            padding: 10px;
        }
        .mainContent {
            flex-grow: 1;
        }
        .loader {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 800px) {
    .catalogue {
        .wrapper {
            .mainContent {
                max-width: 100%;
            }
        }
    }
}
