.catalogue {
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    .mainContent {
        flex-grow: 1;
        max-width: 100%;
        .addItemButton {
            margin: 10px 10px 0 auto;
            font-size: 20px;
            font-weight: 700;
        }
    }
    .loader {
        margin: 0 auto;
    }
}