@import "global-styles/variables_and_mixins";

.field {
    display: flex;
    align-items: center;
    min-height: 30px;
    .nameInput {
        border: none;
        font-size: 18px;
        margin-left: 3px;
        max-width: 250px;
    }
    .button {
        margin-right: 3px;
        font-size: 16px;
        &.active {
            color: $orange;
        }
    }
}