@import "global-styles/variables_and_mixins";

.field {
    display: flex;
    align-items: center;
    min-height: 30px;
    &.active {
        align-items: flex-start;
        .editButton {
            margin-top: 7px;
        }
    }
    .editButton {
        margin-right: 3px;
        font-size: 16px;
        &.active {
            color: $orange;
        }
    }
}