@import "global-styles/variables_and_mixins";

.wrapper {
    .nameInput {
        border: none;
        font-size: 18px;
        margin-left: 3px;
        border-bottom: 1px solid $midLightGrey;
    }
    .checkboxes {
        margin: 5px 0;
    }
    .choices {
        margin: 10px 0 0 0;
    }
    .deleteButton {
        margin: 5px 0;
        &:hover {
            background: $red;
            color: #000;
        }
    }
}
