@import "global-styles/variables_and_mixins";

.comment {
    position: relative;
    width: 100%;
    padding: 3px 0;
    &.replying {
        background: $lightGrey;
        padding: 3px 10px;
        margin: 0 -10px;
    }
    .parent {
        .commentContent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .userImage {
                min-width: 35px;
                min-height: 35px;
                width: 35px;
                height: 35px;
            }
            .wrapper {
                display: flex;
                flex-grow: 1;
                margin-left: 5px;
                &.clipText {
                    @include clipText;
                }
                .username {
                    font-size: 1em;
                    font-weight: 700;
                    margin-right: 5px;
                }
            }
        }
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
            .createdAt {
                font-size: 0.7em;
                color: $midLightGrey;
                white-space: nowrap;
            }
            button {
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .comment {
        &.replying {
            padding: 3px 5px;
            margin: 0 -5px;
        }
    }
}
