@import "global-styles/variables_and_mixins";

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    .userImage {
        min-width: 35px;
        min-height: 35px;
        width: 35px;
        height: 35px;
    }
    .wrapper {
        display: flex;
        flex-grow: 1;
        margin-left: 5px;
        &.clipText {
            @include clipText;
        }
        .username {
            font-size: 1em;
            font-weight: 700;
            margin-right: 5px;
        }
    }
    .createdAt {
        margin-left: 5px;
        font-size: 0.7em;
        color: $midLightGrey;
        white-space: nowrap;
    }
}
