.modal {
    position: absolute;
    top: 0;
    z-index: 100;
    background: #80808080;
    opacity: 0;
    padding: 2%;
    box-sizing: border-box;
    transition: all 0.2s linear;
    &.mounted {
        opacity: 1;
    }
    &.elevated {
        z-index: 10000;
    }
}