.modal {
    position: absolute;
    top: 0;
    z-index: 100;
    background: rgba(128, 128, 128, 0.5);
    opacity: 0;
    padding: 2%;
    box-sizing: border-box;
    transition: all 0.2s linear;
    &.mounted {
        opacity: 1;
    }
    &.elevated {
        z-index: 10000;
    }
    .wrapper {
        min-width: 90%;
        background: #fff;
        box-shadow: 0 0 10px #000;
    }
}
