@import "global-styles/variables_and_mixins.module.scss";

.settings {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .logout {
        font-weight: 700;
        font-size: 1.2em;
        padding: 5px 10px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &:hover {
            color: $lightOrange;
        }
    }
}
