@import "global-styles/variables_and_mixins";

.multipleChoiceField {
    margin: 5px auto;
    min-height: 30px;
    max-width: 100%;
    .content {
        max-width: 95%;
        max-height: 200px;
        font-size: 18px;
        color: $darkGrey;
        margin: 0 0 0 5px;
        box-sizing: border-box;
        @include clipText;
        &.active ul {
            margin: 3px 0 10px 10px;
            padding-right: 20px;
            overflow-y: scroll;
            @include scrollBar;
            &::-webkit-scrollbar-track {
                background: #fff;
            }
        }
    }
}
