@import "global-styles/variables_and_mixins";

.multipleChoiceField {
    display: flex;
    align-items: center;
    margin: 5px auto;
    min-height: 30px;
    max-width: 100%;
    &.active {
        align-items: flex-start;
    }
    .content {
        display: flex;
        max-width: 95%;
        max-height: 200px;
        font-size: 18px;
        color: $darkGrey;
        margin: 0 0 0 5px;
        box-sizing: border-box;
        overflow: hidden;
        overflow-wrap: anywhere;
        &.active ul {
            margin: 3px 0 10px 10px;
            padding-right: 20px;
            overflow-y: scroll;
            @include scrollBar;
            &::-webkit-scrollbar-track {
                background: #fff;
            }
        }
        .confirmButton {
            margin: 2px 0 0 10px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .multipleChoiceField {
        &.active {
            flex-direction: column;
            .content {
                margin: 5px 0 0 0;
                &.active {
                    margin: 5px 0 0 10px;
                }
            }
        }
    }
}
