@import "global-styles/variables_and_mixins";

.textField {
    display: flex;
    align-items: center;
    margin: 5px auto;
    height: 30px;
    width: 100%;
    .content {
        font-size: 18px;
        color: $darkGrey;
        padding-left: 5px;
        box-sizing: border-box;
        border: none;
        white-space: nowrap;
        @include scroll;
    }
}

@media only screen and (max-width: 800px) {
    .textField {
        .content {
            max-width: 230px;
        }
    }
}