@import "global-styles/variables_and_mixins";

.editItem {
    width: 100%;
    .currentImage {
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        line-height: 1em;
        padding-bottom: 5px;
    }
    .addImageButton {
        margin: 5px 0;
    }
    .itemId {
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
        }
        button {
            margin: 5px 10px;
        }
        .deleteButton:hover {
            background: $red;
            color: #000;
        }
    }
}