@import "global-styles/variables_and_mixins";

.changePassword {
    display: flex;
    &.active {
        align-items: flex-start;
    }
    .content {
        padding-left: 10px;
        justify-content: center;
        input {
            margin-bottom: 10px;
            border-bottom: 1px solid $midLightGrey;
        }
    }
}