@import "global-styles/variables_and_mixins";

.checkBoxWithTitle {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    @include resetTapHighlight;
    span {
        margin-left: 5px;
        white-space: break-spaces;
    }
    &:hover {
        color: $lightOrange;
        cursor: pointer;
    }
}
