@import 'global-styles/variables_and_mixins.module';

.myAccount {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .list {
    padding: 10px;
    width: 90%;
    height: 90%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 6px $midLightGrey;
  }
}
