@import "global-styles/variables_and_mixins";

.buttonWrapper {
    display: flex;
    align-items: center;
    height: var(--size);
    .button {
        color: $green;
        font-size: calc(var(--size) * .8);
        &.disabled {
            color: $lightGrey;
        }
    }
}