@import "global-styles/variables_and_mixins.module.scss";

.avatarWithName {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include resetTapHighlight;
    &.reversed {
        flex-direction: row-reverse;
        p {
            margin-right: 5px;
            text-align: end;
        }
    }
    .avatar {
        width: 35px;
        height: 35px;
        min-height: 35px;
        min-width: 35px;
        font-size: 1.3em;
    }
    p {
        max-height: 100%;
        line-height: 1.1em;
        margin-left: 5px;
        overflow: hidden;
    }
}

@media (hover: hover) and (pointer: fine) {
    .avatarWithName {
        &:hover p {
            color: $lightOrange;
        }
    }
}
