@import "global-styles/variables_and_mixins";

.navWrapper {
    @include resetTapHighlight;
    position: sticky;
    top: 0px;
    z-index: 10000;
    .nav {
        width: 100%;
        background: $lightGrey;
        box-shadow: 0px 2px 4px $midLightGrey;
        box-sizing: border-box;
        z-index: 1000;
        position: sticky;
        top: 0;
        .contentWrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .navContent {
                display: flex;
            }
        }
    }
    .navItem {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 1.2em;
        padding: 5px 10px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        .arrow {
            color: $darkGrey;
            margin-left: 5px;
        }
        .leftArrow {
            color: $darkGrey;
            margin-right: 5px;
        }
        &:hover,
        &.hover {
            p,
            .arrow,
            .leftArrow {
                color: $lightOrange;
            }
        }
        &.active {
            border-bottom: 2px solid $orange;
            p,
            .arrow {
                color: $orange;
            }
        }
        &.noChildren {
            cursor: not-allowed;
        }
    }
    
    .navList {
        position: absolute;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
        background: $lightGrey;
        box-shadow: 2px 2px 4px $grey;
        transition: all 0.2s ease-out;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 640px) {
    .navWrapper {
        .navButton {
            &:focus {
                color: $darkGrey;
            }
            &:active {
                color: $lightOrange;
            }
        }
        .nav {
            position: absolute;
            display: inline-flex;
            top: var(--top);
            left: -100%;
            width: 100%;
            min-height: calc(100vh - var(--top) - var(--position));
            background: none;
            box-shadow: none;
            transition: left 0.2s ease-out;
            &.active {
                left: 0;
            }
            .background {
                display: flex;
                flex-direction: row;
                width: 100%;
                background: $grey;
                opacity: 0.2;
            }
            .contentWrapper {
                width: 80%;
                min-width: 250px;
                max-width: 400px;
                background: $lightGrey;
                flex-direction: column;
                justify-content: unset;
                .navContent {
                    flex-direction: column;
                    .navItem {
                        border: none;
                    }
                    .navList {
                        position: unset;
                        max-height: 0;
                        padding-left: 10px;
                        box-shadow: none;
                        &.active {
                            visibility: visible;
                            max-height: 1000px;
                        }
                    }
                }
            }
        }
    }
}
