.itemFields {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

@media only screen and (max-width: 640px) {
    .itemFields {
        margin-left: 0;
    }
}
