@import "global-styles/variables_and_mixins";

.field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px auto;
    // min-height: 30px;
    width: 100%;
    &.active .content {
        width: 100%;
    }
    .content {
        font-size: 18px;
        color: $darkGrey;
        margin-left: 5px;
        box-sizing: border-box;
        border: none;
        @include clipText;
    }
}
