@import "global-styles/variables_and_mixins";

.catalogueImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 200px;
    max-height: 200px;
    margin: 0 auto;
    overflow: hidden;
    .image {
        margin: 0 auto;
    }
    .loader {
        position: absolute;
        left: calc(50% - 30px);
        top: calc(50% - 30px);
        margin: 0 auto;
    }
    input {
        display: none;
    }
}