@import "global-styles/variables_and_mixins";

.choiceList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    ul {
        max-height: 200px;
        min-width: 250px;
        margin: 5px 0 0 5px;
    }
}
