@import "global-styles/variables_and_mixins";

.singleChoiceField {
    display: flex;
    align-items: center;
    margin: 5px auto;
    &.active {
        flex-direction: column;
        align-items: flex-start;
    }
    .content {
        display: flex;
        max-width: 95%;
        font-size: 18px;
        color: $darkGrey;
        margin: 0 0 0 5px;
        box-sizing: border-box;
        @include clipText;
        &.active ul {
            max-height: 200px;
            margin: 3px 0 10px 10px;
            padding-right: 20px;
            overflow-y: scroll;
            @include scrollBar;
            &::-webkit-scrollbar-track {
                background: #fff;
            }
        }
    }
}
