@import 'global-styles/variables_and_mixins.module';

.fieldForm {
  opacity: 0;
  overflow: hidden;
  transition: all 0.35s ease-out;

  &.active {
    opacity: 1;
    overflow: unset;
    transition: all 0.35s ease-out;
  }

  .title {
    font-size: 1.3em;
    font-weight: 700;
  }

  .wrapper {
    margin-left: 20px;

    input {
      border-bottom: 1px solid $midLightGrey;
      max-width: 250px;
      margin-bottom: 5px;
    }

    .checkboxes {
      margin-bottom: 5px;
    }

    p {
      white-space: nowrap;
    }

    .type {
      font-weight: 700;
    }

    .typeList {
      display: flex;
      flex-direction: column;
      margin: 5px 0 0 10px;
    }

    .buttons {
      display: flex;

      button {
        margin: 10px 20px 10px 0;
      }
    }
  }
}

@media only screen and (width <= 480px) {
  .fieldForm {
    .wrapper {
      margin-left: 10px;
    }
  }
}
