@import "global-styles/variables_and_mixins";

.primaryImageStar {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: opacity 0.2s ease-in-out;
    .icon {
        font-size: 26px;
        &.solid {
            color: $orange;
        }
    }
}
