@import "global-styles/variables_and_mixins";

.stars {
	line-height: .8em;
	path {
		stroke: $midLightGrey;
		stroke-width: 10%;
		fill: transparent;
	}
	&:hover {
		path {
			stroke: $orange;
			fill: $orange;
		}
	}
	.star {
		padding: 0 2px;
		color: $midLightGrey;
		&.active
			path {
				stroke: $orange;
				fill: $orange;
			}
		&:hover ~ .star {
			path {
				stroke: $midLightGrey;
				fill: transparent;
			}
		}
	}
	:first-child {
		padding-left: 0;
	}
	:last-child {
		padding-right: 0;
	}
}
