@import 'global-styles/variables_and_mixins.module';

.editableField {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px auto;
  width: 100%;

  .title {
    margin-left: 21px;
    font-size: 18px;
    font-weight: 700;
  }

  .content {
    font-size: 18px;
    color: $darkGrey;
    margin: 0 5px;
    box-sizing: border-box;
    border: none;

    &.active {
      width: 100%;
    }

    @include clipText;
  }
}

@media only screen and (width <= 800px) {
  .editableField {
    .content {
      width: 100%;
    }
  }
}
