@import "global-styles/variables_and_mixins";

.editableField {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px auto;
    width: 100%;
    &.active .content {
        min-width: 100%;
        overflow: visible;
    }
    .title {
        margin-left: 21px;
        font-size: 18px;
        font-weight: 700;
    }
    .content {
        font-size: 18px;
        color: $darkGrey;
        margin-left: 5px;
        box-sizing: border-box;
        border: none;
        @include clipText;
    }
}

@media only screen and (max-width: 800px) {
    .editableField {
        .content {
            max-width: 230px;
        }
    }
}