@import "global-styles/variables_and_mixins";

.choices {
    .choicesList {
        margin: 5px 0;
        max-height: 210px;
        overflow-y: scroll;
        @include scrollBar;
        &::-webkit-scrollbar-track {
            background: #fff;
        }
        .choice {
            display: flex;
            align-items: center;
            margin: 5px 0;
            font-size: 16px;
            button {
                font-size: 18px;
            }
            span {
                margin-left: 8px;
            }
        }
    }
}
