@import 'global-styles/variables_and_mixins.module';

.fixedAddButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $midLightGrey;
  opacity: 0.6;
  outline: none;
  z-index: 10000;

  .plus {
    color: $green;
    font-size: 28px;
  }
}
