@import "global-styles/variables_and_mixins";

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: 700;
    .plus {
        color: $green;
    }
    p {
        margin-left: 5px;
    }
    &:hover p {
        color: $lightOrange;
    }
}
