@import "global-styles/variables_and_mixins";

.item {
    padding: 5px 0;
    text-align: end;
    span {
        font-size: 20px;
        color: $darkGrey;
        cursor: pointer;
    }
    &.active {
        span {
            color: $orange;
        }
    }
}

@media (hover: hover) {
    .item {
        &:hover {
            color: $lightOrange;
        }
    }
}