.editItemModal {
    padding: 5%;
    .currentImage {
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        line-height: 1em;
        padding-bottom: 5px;
    }
    .addImageButton {
        margin-top: 5px;
    }
}