@import 'global-styles/variables_and_mixins.module';

.manageCatalogue {
  margin: 25px auto 0;
  width: 90%;

  .content {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 6px -2px $grey;
  }
}

@media only screen and (width <= 800px) {
  .manageCatalogue {
    width: 100%;
  }
}
