@import 'global-styles/variables_and_mixins.module';

.geoField {
  .icon {
    color: $darkGrey;
    margin-right: 5px;
    font-size: 1.1em;
  }

  .location {
    display: inline;
    overflow-wrap: anywhere;
  }
}

.locationModal {
  display: flex;
  justify-content: center;
  align-items: center;

  .mapWrapper {
    width: 90vw;
    height: 90vh;

    .map {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (width <= 800px) {
  .locationModal {
    flex-direction: column;

    .mapWrapper {
      width: 100vw;
      height: 100vh;

      .header {
        height: 40px;
        background: #f2efe9;
      }

      .map {
        height: calc(100vh - 40px);
        width: 100%;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .geoField {
    &:hover {
      cursor: pointer;

      .icon,
      .location {
        color: $lightOrange;
      }
    }
  }
}
