@import "global-styles/variables_and_mixins";

.transparentButton {
    display: flex;
    flex-direction: row;
    padding: 0;
    color: $darkGrey;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    @include resetTapHighlight;
    &:disabled {
        color: $lightGrey;
        cursor: not-allowed;
    }
}

@media (hover: hover) {
    .transparentButton {
        &:hover {
            color: $lightOrange;
        }
    }
}