@import "global-styles/variables_and_mixins";

.transparentButton {
    padding: 0;
    color: $darkGrey;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    @include resetTapHighlight;
    &:hover {
        color: $lightOrange;
    }
    &:disabled {
        color: $lightGrey;
        cursor: not-allowed;
    }
}