@import "global-styles/variables_and_mixins";

.nav {
    width: 100%;
    background: $lightGrey;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .navContent {
        display: flex;
        flex-direction: row;
    }
}
.navItem {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2em;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    .arrow {
        color: $darkGrey;
        margin-left: 5px;
    }
    .leftArrow {
        color: $darkGrey;
        margin-right: 5px;
    }
    &:hover, &.hover {
        p, .arrow, .leftArrow {
            color: $lightOrange;
        }
    }
    &.active {
        border-bottom: 2px solid $orange;
        p, .arrow {
            color: $orange;
        }
    }
}

.navList {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: $lightGrey;
    transition: all .2s ease-out;
    &.hover {
        visibility: visible;
        opacity: 1;
    }
}