@import "global-styles/variables_and_mixins";

.navLink {
    font-weight: 700;
    font-size: 1.2em;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    &:hover {
        color: $orange;
    }
    &.active {
        border-bottom: 2px solid $orange;
        color: $orange;
    }
}