@import "global-styles/variables_and_mixins";

.item {
    box-shadow: 1px 1px 2px $midLightGrey;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .wrapper {
        display: flex;
        .carouselWrapper {
            min-width: 200px;
        }
        .itemContent {
            margin-left: 10px;
            width: 100%;
            .ratingWrapper {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                .favouriteIcon {
                    margin-left: 10px;
                }
            }
        }
    }
    .editItem {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .item {
        flex-direction: column;
        .wrapper {
            flex-direction: column;
            margin-bottom: 10px;
            .itemContent {
                width: 100%;
                margin: 10px 0 0 0;
            }
        }
    }
}
