@import "global-styles/variables_and_mixins";

.item {
    box-shadow: 1px 1px 2px $midLightGrey;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &.mobile {
        border-radius: unset;
    }
    .wrapper {
        display: flex;
        &.mobile {
            flex-direction: column;
        }
        .carouselWrapper {
            min-width: 200px;
        }
        .itemContent {
            margin-left: 10px;
            width: 100%;
            &.mobile {
                width: 100%;
                margin: 5px 0 0 0;
            }
            .ratingWrapper {
                display: flex;
                align-items: center;
                margin: 0 5px 5px;
                .favouriteIcon {
                    margin-left: 10px;
                }
            }
            .itemData,
            .itemFields {
                margin: 0 5px 5px;
            }
        }
    }
    .itemComments {
        margin: 0 5px 5px;
    }
    .editItem {
        width: 100%;
    }
}
