@import "global-styles/variables_and_mixins";

.inputWrapper {
    position: relative;
    textarea {
        border: 1px solid $midLightGrey;
        outline: none;
        padding: 5px 25px 5px 5px;
        @include scrollBar;
        &::-webkit-scrollbar-track {
            background: #fff;
        }
    }
    .confirmButton {
        position: absolute;
        right: 10px;
        bottom: 8px;
        z-index: 1;
    }
}
